.hidden {
  max-height: 0;
  opacity: 0;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.1s, opacity 0.5s ease;
}

.open {
  max-height: 9000px;
  transition: max-height 1s cubic-bezier(0.5, 0, 1, 0), opacity 2s ease;
}
